{% for good in goods %}
    <div class="shopUnit" data-id="{{ good.id }}">
        <img src="images/goods/small/{{ good['img'] }}"/>
        <div class="shopUnitName">
            {{ good.name }}
        </div>
        <div class="shopUnitShortDescription">
            {{ good.description | slice(0, 100) ~ '...' }}
        </div>
        <div class="shopUnitPrice">
            Цена: {{ good.price }}
        </div>
        <a id="buttonA" onclick="addToCart({{ good.id }},{{ id_user }})" class="button-primary shopUnitMore" >Добавить в корзину</a>
        <a href="index.php?c=Product&act=open&id={{ good.id }}" class="shopUnitMore">
            Подробнее
        </a>
    </div>
{% endfor %}