{% for good in cart %}
    <div id="cartProduct" >
        <p>Товар: {{ good.name }}</p>
        <p>Кол-во: <button id="buttonA" onclick="delFromCart({{ good.good_id }},{{ id_user }})">-</button> {{ good.count }} <button id="buttonA" onclick="addToCart({{ good.good_id }},{{ id_user }})">+</button></p>
        <p>Цена: {{ good.price }}</p>
    </div>
{% endfor %}
   