<h1>{{ text }}</h1>
{% block adminPanel %}
	{{ adminPanel | raw }}
{% endblock %}
<p>Заказы:</p>
{% for order in orders %}
    <div id="cartProduct" >
        <p>Номер заказа: {{ order.order_id }}</p>
        <p>Дата: {{ order.date }}</p>
        <p>Кол-во товаров: {{ order.totalcount }}</p>
        <p>Сумма: {{ order.totalprice }}</p>
        <p>Статус: {{ order.status }}</p>
    </div>
{% endfor %}
